<div id="carouselExampleCaptions" class="carousel slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="container">
        <img src="assets/images/logo-lamid-horizontal.png" class="logo" alt="Banner1 com logo lamid">
      </div>
      <div class="carousel-caption d-md-block caption-style">
        <h5>LAMID</h5>
        <p class="paragraph-size">Universidade Federal de Santa Catarina - Centro Tecnológico</p>
      </div>
    </div>
    <div class="carousel-item">
      <div class="container">
        <img src="assets/images/logo-lamid-horizontal.png" class="logo" alt="Banner1 com logo lamid">
      </div>
      <div class="carousel-caption d-md-block caption-style">
        <h5>LAMID</h5>
        <p>Universidade Federal de Santa Catarina</p>
        <p>Centro Tecnológico</p>
      </div>
    </div>
    <div class="carousel-item">
      <div class="container">
        <img src="assets/images/logo-lamid-horizontal.png" class="logo" alt="Banner1 com logo lamid">
      </div>
      <div class="carousel-caption d-md-block caption-style">
        <h5>LAMID</h5>
        <p>Universidade Federal de Santa Catarina</p>
        <p>Centro Tecnológico</p>
      </div>
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleCaptions"
    data-bs-slide="prev"
    style="filter: invert(1) grayscale(100);"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleCaptions"
    data-bs-slide="next"
    style="filter: invert(1) grayscale(100);"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Início</li>
  </ol>
</nav>

<div class="card card-margin">
  <div class="card-body">
    <div class="clearfix">
      <img src="assets/images/lab-1.jpeg" class="col-md-4 float-md-end mb-3 ms-md-3 card-img-style" alt="Foto do laboratório">
      <h1>
        LABORATÓRIO DE MÍDIAS E INCLUSÃO DIGITAL
      </h1>
      <br>
      <p>
        O LAMID adota a bandeira da inclusão digital de pessoas na educação formal conduzida através das
        Tecnologias Digitais da Informação e Comunicação (TDIC),
        especialmente baseadas na web, mas com foco centrado na deficiência visual e auditiva.
      </p>
      <br>
      <p>
        Inserido no Programa de Pós-graduação em Engenharia e Gestão do Conhecimento,
        o laboratório destaca-se como produtor de ações inclusivas.
        Com linhas de pesquisa direcionadas a Acessibilidade e Educação,
        o LAMID objetiva a produção de conhecimento para atender pessoas com deficiência.
      </p>
    </div>
  </div>
</div>

<div>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card card-style">
        <div class="card-header card-header-style">
          <img src="assets/images/clipboard-check.svg" alt="Ícone de checklist">
          Pesquisas Acadêmicas
        </div>
        <div class="card-body">
          <p class="card-text">
            No LAMID são desenvolvidas pesquisas, frameworks, aplicativos, ambientes virtuais de aprendizagem,
            diretrizes, metodologias,
            sempre voltadas ao ambiente digital e na experiência acessível e inclusiva das pessoas com deficiência.
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card card-style">
        <div class="card-header card-header-style">
          <img src="assets/images/window-dock.svg" alt="Ícone de aplicativo">
          Protótipos Funcionais
        </div>
        <div class="card-body">
          <p class="card-text">
            No desenvolvimento de teses e dissertações,
            o laboratório vem produzindo protótipos funcionais de objetos de aprendizagem acessíveis.
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card card-style">
        <div class="card-header card-header-style">
          <img src="assets/images/building.svg" alt="Ícone de edifício">
          Infraestrutura
        </div>
        <div class="card-body">
          <p class="card-text">
            O LAMID/PPGEGC/UFSC está localizado no prédio do EGC, e tem aproximadamente uma área de 44 m2.
            Este espaço está divido em 4 salas e possuem toda a estrutura necessária para as pesquisas desenvolvidas.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
