<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#" (click)="breadcrumbHome()">Início</a></li>
    <li class="breadcrumb-item active" aria-current="page">Equipe</li>
  </ol>
</nav>

<div class="card card-margin">
  <div class="card-body">
    <h1><b>Equipe</b></h1>
    <br>
    <p>
      Salienta-se que estes software são para aprendizagem. Os corpo discente e docente que integram o LAMID recebeu os seguintes premios:
    </p>
    <p>
      <br>
      1.Prêmio ABED de Excelência em Educação a Distância-Categoria Pesquisa (2007);
      <br>
      2.Mensão Honrosa no Congresso Brasileiro de Pesquisa & Desenvolvimento em Design (P&D 2008);
      <br>
      3.Prêmio LACLO / Comunidade Latinoamericana de Objetos de Aprendizagem (LACLO)-e Universidad Austral de Chile (2013);
      <br>
      4.Prêmio Jabuti - 1o lugar na Categoria Educação e Pedagogia da 57 Edição / Câmara Brasileira do Livro (2015);
      <br>
      5.Prêmio de Inovação de Joinville/ Expo Inovação (2017);
      <br>
      6.1º lugar - Prêmio Hipermídia CINAHPA (2017);
      <br>
      7.Homenagem à professora Vania R Ulbricht -
      Em reconhecimento aos serviços prestados como docente do Programa de Pós-Graduação em Design da Universidade Federal do Paraná. (2022).
    </p>
  </div>
</div>

<div class="card card-margin">
  <div class="row g-0">
    <div class="card-header card-header-style">
      <img src="assets/images/person-circle.svg" alt="Ícone de usuário">
      Equipe
    </div>

      <div class="clearfix col-md-2 col-xs-12">
        <img src="assets/images/foto-vania.png" class="col-md-4 mb-3 ms-md-3 img-thumbnail card-img-style-cord" alt="Foto de destaque">
      </div>

      <div class="col-md-10 col-xs-12">
        <div class="card-body">
          <span>
            <b>Coordenação:</b> Prof. Drª. Vânia Ribas Ulbricht.
          </span>

          <p>
            <br>
            É licenciada em Matemática, com mestrado e doutorado em Engenharia de Produção pela UFSC.
            Foi professora visitante da Universidade Federal do Paraná no Programa de Pós-Graduação em Design (2012 - 2014).
            Pesquisadora da Université Paris 1 (Panthéon-Sorbonne). Presta serviço voluntário no PPEGC da UFSC.
            Foi bolsista em Produtividade e Desenvolvimento Tecnológico e Extensão Inovadora de 2009 a 2013, DT/CNPq.
            Coordenadora do projeto: Mídias, Tecnologias e Recursos de Linguagem para um ambiente de aprendizagem acessível aos surdos,
            aprovado pelo CNPq através da CHAMADA Nº 84/2013 MCTI-SECIS/CNPq- TECNOLOGIA ASSISTIVA / B - Núcleos Emergentes
            Foi bolsista do CNPq na modalidade DTI-A. Tem experiência na área de Educação, com ênfase em Tecnologia Educacional,
            atuando principalmente nos seguintes temas: acessibilidade, ensino-aprendizagem, hipermidia, design de hipermídia,
            geometria e geometria descritiva. Coordenou, desde 1981, diversos eventos nacionais e internacionais,
            dentre os quais desta-se: os Congresso Nacional de Desenho, Gráphicas, Conahpas e Cinahpas.
            É professora titular voluntária e professora permanente do Programa de Pós-Graduação em
            Engenharia e Gestão do Conhecimento da UFSC. É lider, desde 2014, do Núcleo de Acessibilidade Digital e Tecnologias Assistivas
            registrado no CNPq. Especialista em Neurociências 2021,
            pelo Instituto de Desenvolvimento Educacional (IDE) https://orcid.org/0000-0002-6257-0557
          <br>
          <p>
            <b>Fonte:</b> Texto retirado da plataforma Lattes.
          </p>
        </div>
      </div>
  </div>
</div>

<div class="card card-margin">
  <div class="card-body">
    <h1><b>Integrantes da Equipe</b></h1>
    <br>
    <p>
      <br>
      1.Profª. Drª. Vania Ribas Ulbricht;
      <br>
      2.Prof. Dr. Tarcisio Vanzin;
      <br>
      3.MS.c. - Doutoranda Ingrid Weingärtner Reis;
      <br>
      4.MS.c. - Doutorando Ivam Galvão Filho;
      <br>
      5.MS.c. - Doutorando Edésio Marcos Slomp;
    </p>
  </div>
</div>
