.footer-style{
  color: #FFFFFF;
  background-color: #4362AB;
  padding-top: 3rem;
  padding-bottom: 6rem;
}

.footer-credits{
  font-style: italic;
  text-align: left;
}

.footer-contacts{
  text-align: left;
}

@media screen and (max-width: 576px) {
  .footer-contacts{
    margin-bottom: 2rem;
    text-align: left;
  }
  .footer-col-logo{
    margin-top: 2rem;
    margin-left: 0rem;
    margin-right: 0rem;
    text-align: left;
  }
  .footer-credits{
    margin-top: 2rem;
    font-style: italic;
    text-align: left;
  }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
  .footer-contacts{
    margin-bottom: 2rem;
    text-align: left;
  }
  .footer-col-logo{
    margin-top: 2rem;
    margin-left: 0rem;
    margin-right: 0rem;
    text-align: left;
  }
  .footer-credits{
    margin-top: 2rem;
    font-style: italic;
    text-align: left;
  }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
  .footer-contacts{
    text-align: left;
    margin-left: 3rem;
    margin-right: -3rem;
  }
  .footer-col-logo{
    margin-left: -4rem;
    margin-right: 4rem;
    text-align: left;
  }
}

@media screen and (min-width: 993px) and (max-width: 1200px) {
  .footer-contacts{
    text-align: left;
    margin-left: 3rem;
    margin-right: -3rem;
  }
  .footer-col-logo{
    margin-left: -4rem;
    margin-right: 4rem;
    text-align: left;
  }
}

@media screen and (min-width: 1201px) and (max-width: 1400px) {
  .footer-contacts{
    text-align: left;
    margin-left: 3rem;
    margin-right: -3rem;
  }
  .footer-col-logo{
    margin-left: -4rem;
    margin-right: 4rem;
    text-align: left;
  }
}

@media screen and (min-width: 1401px) {
  .footer-contacts{
    text-align: left;
    margin-left: 3rem;
    margin-right: -3rem;
  }
  .footer-col-logo{
    margin-left: -4rem;
    margin-right: 4rem;
    text-align: left;
  }
}
