<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#" (click)="breadcrumbHome()">Início</a></li>
    <li class="breadcrumb-item active" aria-current="page">Contatos</li>
  </ol>
</nav>

<div class="card card-margin">
  <div class="card-header card-header-style">
    Contatos
  </div>
  <div class="card-body">
    <div class="clearfix">
      <img src="assets/images/logo-vertical-lamid.png" class="col-md-4 float-md-end mb-3 ms-md-3 card-img-style" alt="Logo do lamid">
      <h1>
        LAMID - LABORATÓRIO DE MÍDIAS E INCLUSÃO DIGITAL
      </h1>
      <br>
      <p>
        O LAMID adota a bandeira da inclusão digital de pessoas na educação formal conduzida através das
        Tecnologias Digitais da Informação e Comunicação (TDIC),
        especialmente baseadas na web, mas com foco centrado na deficiência visual e auditiva.
      </p>
      <br>
      <h2>
        Redes Sociais
      </h2>
      <br>
      <div class="row">
        <div class="col-12 col-sm-12 col-md-1 col-lg-1 col-xl-1 col-xxl-1">
          <img src="assets/images/facebook.svg" alt="Ícone do facebook">
        </div>
        <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
          <p>
            https://www.facebook.com/groups/1521303348378301
          </p>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-12 col-sm-12 col-md-1 col-lg-1 col-xl-1 col-xxl-1">
          <img src="assets/images/linkedin.svg" alt="Ícone do linkedin">
        </div>
        <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
          <p>
            https://www.linkedin.com/groups/9271690/
          </p>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-12 col-sm-12 col-md-1 col-lg-1 col-xl-1 col-xxl-1">
          <img src="assets/images/envelope.svg" alt="Ícone de email">
        </div>
        <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
          <p>
          lamid.egc.ufsc@gmail.com
          <br>
          lamid@lamid.tec.br
        </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card card-margin">
  <div class="card-header card-header-style">
    Localização
  </div>
  <div class="card-body">
    <div class="clearfix">

      <!--The div element for the map -->
      <div id="map"></div>

      <!--
        The `defer` attribute causes the callback to execute after the full HTML
        document has been parsed. For non-blocking uses, avoiding race conditions,
        and consistent behavior across browsers, consider loading using Promises
        with https://www.npmjs.com/package/@googlemaps/js-api-loader.
        -->
      <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDo0WJ44VCW2P4mhJ1oy8dGrGPQst2R14s&callback=initMap&v=weekly"
        defer
      ></script>
    </div>
  </div>
</div>
