<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#" (click)="breadcrumbHome()">Início</a></li>
    <li class="breadcrumb-item active" aria-current="page">Sobre</li>
  </ol>
</nav>

<div class="card card-margin">
  <div class="card-body">
    <div class="clearfix">
      <img src="assets/images/lab-1.jpeg" class="col-md-4 float-md-end mb-3 ms-md-3 card-img-style" alt="Foto do laboratório">
      <h1>
        Sobre o LAMID
      </h1>
      <br>
      <p>
        O LAMID adota a bandeira da inclusão digital de pessoas na educação formal conduzida através das
        Tecnologias Digitais da Informação e Comunicação (TDIC),
        especialmente baseadas na web, mas com foco centrado na deficiência visual e auditiva.
      </p>
      <br>
      <p>
        Inserido no Programa de Pós-graduação em Engenharia e Gestão do Conhecimento,
        o laboratório destaca-se como produtor de ações inclusivas.
        Com linhas de pesquisa direcionadas a Acessibilidade e Educação,
        o LAMID objetiva a produção de conhecimento para atender pessoas com deficiência.
      </p>
    </div>
  </div>
</div>

<div>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card card-style">
        <div class="card-header card-header-style">
          <img src="assets/images/bullseye.svg" alt="Ícone de missão">
          Missão
        </div>
        <div class="card-body">
          <p class="card-text">
            Tornar o ambiente digital acessível para pessoas com deficiência visual, cegos, surdos,
            pessoas com deficiência auditiva e idosos.
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card card-style">
        <div class="card-header card-header-style">
          <img src="assets/images/eye.svg" alt="Ícone de visão">
          Visão
        </div>
        <div class="card-body">
          <p class="card-text">
            A visão do LAMID é a de entregar à sociedade, nos próximos dois anos, um conjunto de recursos,
            técnicas, tecnologias e métodos que auxiliem ao pleno desenvolvimento das pessoas com deficiência.
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card card-style">
        <div class="card-header card-header-style">
          <img src="assets/images/person-check.svg" alt="Ícone de competências">
          Competências
        </div>
        <div class="card-body">
          <p class="card-text">
            O LAMID centra suas competências no ambiente digital acessível e
            inclusivo priorizando a aprendizagem digital.
            A equipe que compõe o LAMID ,
            está conformado por pesquisadores com conhecimento na área de mídias digitais e, também,
            na aplicação destas mídias e outras tecnologias para garantir a acessibilidade e a
            inclusão no âmbito da educação e formação profissional.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
