<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#" (click)="breadcrumbHome()">Início</a></li>
    <li class="breadcrumb-item active" aria-current="page">Sobre</li>
  </ol>
</nav>

<div class="card card-margin">
  <div class="card-body">
    <h1><b>Projetos de Pesquisa</b></h1>
    <br>
    <p>
      No LAMID são desenvolvidas pesquisas, frameworks, aplicativos(APP), diretrizes, metodologias,
      sempre voltadas ao ambiente digital acessível e inclusivo.
      Foram desenvolvidos alguns aplicativos com patente como: COIN e Ferramenta Onomatopeica.
      Dentre os programas de computador registrados destacamos: Fractus (2022); Geogebra (2022);
      Trama secundária da HQ sobre projeção cilíndrica ortogonal(2016); A Chave (conto 2016);
      Exercícios de Projeção Cilíndrica Ortogonal – 1-2 (2016);
      Continuação da trama sobre projeção cilíndrica ortogonal(2016);
      Geometria Descritiva em Contos (2016 ); O abade e o papagaio (2016); O Enigma de Gaspar (2016);
      O gato, o cavalo e um sonho (2016 ); Planos do triedro em folha de papel como HQ (2016) e Retas e Curvas (2016).
    </p>
  </div>
</div>

<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card">
      <div class="card-header card-header-style">
        <img src="assets/images/gear.svg" alt="Ícone de engrenagem">
        Projeto 1
      </div>
      <div class="card-body">
        <h5 class="card-title">
          <b>
            2019 – atual.
            Título: COIN - ARTEFATO PARA O DESENVOLVIMENTO DE MATERIAL DIGITAL ACESSÍVEL
          </b>
        </h5>
        <p class="card-text">
          <b>Descrição:</b>
          O projeto propõe a produção de um aplicativo web e mobile para representação interativa de diretrizes
          para produção de material educacional acessível. Através do protótipo desenvolvido para mobile e ambiente web,
          as diretrizes de recomendação da pesquisadora Macedo (2010) foram organizadas para que
          desenvolvedores e conteudistas de Objetos de Aprendizagem (OAs) possam utilizar as ferramentas...
        </p>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card">
      <div class="card-header card-header-style">
        <img src="assets/images/gear.svg" alt="Ícone de engrenagem">
        Projeto 2
      </div>
      <div class="card-body">
        <h5 class="card-title">
          <b>
            2017 – atual.
            Título: COMPETÊNCIAS DIGITAIS E EXPERIÊNCIA DOS USUÁRIOS IDOSOS
          </b>
        </h5>
        <p class="card-text">
          <b>Descrição:</b>
          Este projeto versa sobre a proposição de um conjunto de recomendações para o design de interface e
          interação em aplicações educacionais mobile que tenham como foco as competências digitais e experiência
          do usuário idoso e que permitam a personalização em aplicações educacionais mobile,
          a partir do nível de literacia digital em que o idoso usuário se encontra.
        </p>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card">
      <div class="card-header card-header-style">
        <img src="assets/images/gear.svg" alt="Ícone de engrenagem">
        Projeto 3
      </div>
      <div class="card-body">
        <h5 class="card-title">
          <b>
            2019 - atual
            Título: A Neurociência como Base para um Modelo de Aprendizagem
          </b>
        </h5>
        <p class="card-text">
          <b>Descrição:</b>
          Tendo por base o baixo desempenho em matemática apontado com os estudantes brasileiros nas avaliações do PISA,
          assim como da BNCC, e o crescente aumento da utilização dos princípios da Neurociência no âmbito educacional,
          este projeto tem como objetivo principal Conceber um modelo que contribua no processo de aprendizagem da
          matemática.
        </p>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card">
      <div class="card-header card-header-style">
        <img src="assets/images/gear.svg" alt="Ícone de engrenagem">
        Projeto 4
      </div>
      <div class="card-body">
        <h5 class="card-title">
          <b>
            2019 - atual Título: Desenvolvimento de diretrizes para a concepção de jogos digitais para apoiar o
            aprendizado do aluno surdo em escola Bilíngue
          </b>
        </h5>
        <p class="card-text">
          <b>Descrição:</b>
          O projeto tem por objetivo o desenvolvimento de diretrizes para concepção de jogos digitais para apoiar o
          aprendizado do aluno surdo em escola bilíngue. Será concebido um artefato no formato de proposições.
          Para tanto, serão realizadas coletas de dados no Instituto Federal de Santa Catarina no Campus
          palhoça-bilíngue, na cidade de Palhoça, Grande Florianópolis.
        </p>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card">
      <div class="card-header card-header-style">
        <img src="assets/images/gear.svg" alt="Ícone de engrenagem">
        Projeto 5
      </div>
      <div class="card-body">
        <h5 class="card-title">
          <b>
            2020 - atual
            Título: Inovação e Acessibilidade: Pessoas Surdas entram no Agronegócio com a Meliponicultura.
          </b>
        </h5>
        <p class="card-text">
          <b>Descrição:</b>
          Este projeto visa promover a integração do surdo na Meliponicultura (Criação de Abelhas sem Ferrão).
          O agronegócio é uma atividade econômica que envolve a agricultura e a pecuária.
          A atividade de criação de abelhas encontra-se na pecuária, e é uma excelente oportunidade de geração de renda.
        </p>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card">
      <div class="card-header card-header-style">
        <img src="assets/images/gear.svg" alt="Ícone de engrenagem">
        Projeto 6
      </div>
      <div class="card-body">
        <h5 class="card-title">
          <b>
            2022 - atual Título: Internacionalização e ampliação das diretrizes para a concepção de
            jogos digitais para apoiar o aprendizado do aluno surdo em escola Bilíngue
          </b>
        </h5>
        <p class="card-text">
          <b>Descrição:</b>
          O objetivo geral deste projeto é a expansão e internacionalização,
          para outras comunidades de língua portuguesa, das diretrizes para a concepção de jogos digitais para apoiar
          o aprendizado do aluno surdo em escola Bilíngue, desenvolvidas em projeto anterior.
        </p>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card">
      <div class="card-header card-header-style">
        <img src="assets/images/gear.svg" alt="Ícone de engrenagem">
        Outros Projetos
      </div>
      <div class="card-body">
        <p class="card-text">
          <b>FRACTUS:</b> Aplicativo para Aprendizagem de Frações;
        </p>

        <p class="card-text">
          Desenvolvendo Comunicação Alternativa com uso de Elementos da Linguagem Visual para Surdos;
        </p>

        <p class="card-text">
          <b>Transmídia e Fansubs:</b> Estratégias Aplicadas a Cursos Online Acessíveis à Pessoa Com Deficiência Visual;
        </p>

        <p class="card-text">
          Diretrizes para o Desenvolvimento de Aplicações Mobile no Ensino de Geometria para Surdos;
        </p>

        <p class="card-text">
          Competências Docentes em Universidades Inovadoras Brasileiras Públicas.
        </p>
      </div>
    </div>
  </div>

</div>
